{% extends 'base.html' %}
{% block title %} Login Page {% endblock %}
{% block body %} 
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://bit.ly/3pw0TmE" class="img-fluid mt-2" alt="Not DCH">
                <h1 class="text-center mt-2">Not DCH Patient Portal Login</h1>
            </div>
            
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <form action="/login/" method="post">
                        {% csrf_token %}  

                        <!-- Error message testing -->
                        {% if error_message %}
                            <p class="bg-danger bg-opacity-85 text-center text-white">{{ error_message }}</p>
                        {% endif %}

                        <!-- Test Username: test, Password: 54321-->
                        <!-- Username input -->
                        <div class="form-outline mb-4 mt-4">
                            <input type="text" id="form.username" class="form-control form-control-lg" name="{{form.username.html_name}}" placeholder="Enter your username" />
                            <label class="form-label" for="form.username">Username</label>
                        </div>
            
                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input type="text" id="form.password" class="form-control form-control-lg" name="{{form.password.html_name}}" placeholder="Enter your password" />
                            <label class="form-label" for="form.password">Password</label>
                        </div>

                        <div class="text-center mt-4 pt-2">
                            <button type="submit" value="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}