{% extends 'base.html' %}
{% block title %} Knowledge base Page {% endblock %}
{% block body %}
    <div class="row m-2">
        <div class="col">
            <div class="row p-3">
                <h5 class="">Flag Submition</h5>
                <small> Submit your flag here </small>
                <form action='/knowledgeBase/' method="post">
                    {% csrf_token %} 
            
                    <!-- Error message testing -->
                    {% if error_message %}
                        <p class="bg-danger bg-opacity-85 text-center text-white">{{ error_message }}</p>
                    {% endif %}
            
                    <input type="text" id="form.flag" name="{{form.flag.html_name}}" placeholder="Enter a flag" />
                    <input type="submit" value="submit">
                </form>
            </div>

            <div class="row mt-3 p-3">
                {% if solution %}
                    <p> Congrats! You have found a vulnerability ({{solution.flag}}) in our website! On the right will be a list of all the vulnerabilites you have found. There you can find descriptions of the vulnerabilites and buttons to patch or re-enable the vulnerabilities. </p>
                {% endif %}
            </div>
        </div>
        <div class="col">
            {% for vulnerability in solved %}
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title"> {{vulnerability.flag}} </h5>
                        <h6 class="card-subtitle mb-2 text-muted pt-2">Current State</h6>
                        {% if vulnerability.fixed %}
                            <p class="card-text"> Patched </p>
                        {% else %}
                            <p class="card-text"> Vulnerable </p>
                        {% endif %}
                        <h6 class="card-subtitle mb-2 text-muted pt-2">Description</h6>
                        <p class="card-text"> {{vulnerability.description}} </p>
                        <h6 class="card-subtitle mb-2 text-muted pt-2">Vulnerable Code</h6>
                        <p class="card-text"> {{vulnerability.vulnerable_code}} </p>
                        <h6 class="card-subtitle mb-2 text-muted pt-2">Fixed Code</h6>
                        <p class="card-text"> {{vulnerability.fixed_code}} </p>
                        <a href="/patch/{{vulnerability.flag}}" class="btn btn-primary"> Patch </a>
                        <a href="/revert/{{vulnerability.flag}}" class="btn btn-primary"> Un-patch </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
